<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.github.SeleniumToDoMVC.ToDoMVCTest"/>
      <class name="com.github.SeleniumToDoMVC.EditingTodos"/>
      <class name="com.github.SeleniumToDoMVC.AddTodoasSpace"/>
      <class name="com.github.SeleniumToDoMVC.AddTextAsIntSpecialCharacters"/>
      <class name="com.github.SeleniumToDoMVC.AddingDuplicateTodos"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
